# Prod
django==5.1
djangorestframework==3.15.2
django-rest-enumfield==0.2.0

# Dev
django-stubs==5.0.4
flake8==7.1.1
mypy==1.11.2
pytest==8.3.2
pytest-django==4.8.0
djangorestframework-stubs==3.15.0
types-requests==2.32.0.20240712
